
<html>
<head>
<title>Fake User Id</title>
<meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Custom Theme files -->
<link href= "{{ url_for('static', filename= 'css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom Theme files -->
<!-- web font -->
<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
<!-- //web font -->
</head>
<body>
	<!-- main -->
	<div class="main-w3layouts wrapper">
		<h1>Fake User Id </h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form action="{{ url_for('predict')}}" method="post" autocomplete="off" name="one">
					<input class="text" type="text" name="UserID" placeholder="UserID" required="" >
					<input class="text" type="text" name="No Of Abuse Report" placeholder="No Of Abuse Report" required="">
					<input class="text" type="text" name="No Of Rejected Friend Requests" placeholder="No Of Rejected Friend Requests" required="">
					<input class="text" type="text" name="No Of Freind Requests Thar Are Not Accepted" placeholder="No Of Freind Requests Thar Are Not Accepted" required="">
					<input class="text" type="text" name="No Of Friends" placeholder="No Of Friends" required="">
					<input class="text" type="text" name="No Of Followers" placeholder="No Of Followers" required="">
					<input class="text" type="text" name="No Of Likes To Unknown Account" placeholder="No Of Likes To Unknown Account" required="">
					<input class="text" type="text" name="No Of Comments Per Day" placeholder="No Of Comments Per Day" required="">
					<div class="wthree-text">
						<label class="anim">

						</label>
						<div class="clear"> </div>
					</div>
					<input type="submit" value="Predict">
					
				</form>
				 {{ prediction_text }}
			</div>
		</div>
		<!-- copyright -->
		<div class="colorlibcopy-agile">
			<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
			 
		</div>
		<!-- //copyright -->
		 
	</div>
	<!-- //main -->
 <center><a href="{{url_for('chart')}}"><button type="submit" style="background-color:blue;color:white;width:150px;height:40px;">Analysis</button></a></center>
  
</html>